!!!
html
    include inc/header
        body
            include inc/menubar


            div.article
                h1= title
                div.container-fluid
                    #row-fluid
                        #span8

                    #newpost
                        a(href="/blog/new")!= 'new post'

                    - each article in articles
                        div.media
                            div.title.pull-left
                                h4
                                    a(href="/blog/"+article._id)!= article.title
                                    p= article.created_at
                                    form( method="post", action="/blog/:id/delete")
                                        input(name="_id", type="hidden", value=article._id.toHexString())
                                        input(id="delete", value="x", type="submit")
                                        form( method="get", action="/blog/:id/edit")
                                        input(name ="_id", type="hidden", value=article._id.toHexString())
                                        input(id="edit", value="edit", type="submit")

                                p= article.body

            div.span12.container!= body
                include inc/footer

    include inc/scripts
