!!!
html
    include inc/header
        body
            include inc/menubar

            h1= title
            div.article
                div.container-fluid
                    #row-fluid
                        #span8

                    - each article in articles
                        div.media
                            div.title.pull-left
                                h4
                                    a(href="/blog/"+article._id)!= article.title
                                    a(class='delete-button', href='google.com') -->button
                                div.created_at= article.created_at
                                p= article.body

            div.span12.container!= body
                include inc/footer

    include inc/scripts
